body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin:2.5rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #FADA5E;
}
.red{
    background-color: #ED2939;
}
.purple{
    background-color: purple;
}
.green{
    background-color: #27a567;
}
.flash{
    background-color: white;
}

.userflash{
    background-color: green;
}